# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json
/app
# production
/dist
/OutputApp
/app/node_modules
/app/render
# misc
.DS_Store

# umi
.umi
.umi-production
/release
/public/pdfjs

.tmp/
setting.json
/docs/_book
/.idea
errLog.txt
node_modules
