
.tabs {
  .radioBar {
    padding: 12px 24px;
    background-color: #ddd;
  }

  .tabContent {
    height: 200px;
  }
}

.content {
  display: flex;
  justify-content: space-between;

  .form {

  }

  .buttonView {
    width: 68px;
  }
}