.wrapper {
  flex:1;
  background: #fff;
  margin-right: 12px;
  .page {
    display: inline-block;
  }

  .pagination {
    :global {
      .ant-pagination-item-active {
        border: none;
        background-color: transparent;
      }
    }
  }
}

.fullPage {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
}
