.wrapper {
  position: relative;
  flex:1;
  background: #fff;
  margin-right: 24px;
  .page {
    display: inline-block;
  }

  .pagination {
    :global {
      .ant-pagination-item-active {
        border: none;
        background-color: transparent;
      }
    }
  }
}


