.form {
  background-color: #fff;
  padding: 24px 12px 24px 24px;

  :global {

    .ant-form-item {
      height: 63px;
      margin-bottom: 0;
      overflow: hidden;
    }
    .ant-form-item-label {
      // width: 56px;
      line-height: 1.5;
    }
    .ant-input-number {
      width: 156px;
    }
    .ant-calendar-picker {
      min-width: auto !important;
      width: 156px;
    }
    input {
      padding-left: 8px;
      padding-right: 8px;
    }
    input[type="text"] {
      width: 156px;
    }
  }
}