@import '../../utils/utils.less';

.wrapper {
  height: 100%;

  .aside {
    padding: 24px;
  }

  .main {
    margin: 24px;

    .chart {
      margin-top: 24px;
      
      h2 {
        text-align: center;
      }
    }
  }
}
