@import '../../utils/utils.less';

.tableList {
  background: #fff;

  :global {
    .ant-table-row {
      cursor: pointer;
    }
  }

  .selectedRow {
    & > td {
      background-color: #f0f5ff !important;
    }
  }
}

.buttonView {
  margin: 18px;

    button {
      margin-right: 24px;
    }
  }