@import '../../utils/utils.less';

.tableList {
  // height: 305px;
  padding: 12px 24px;
  background: #fff;

  :global {
    .ant-table-placeholder {
      height: 196px;
    }
  }

  .selectedRow {
    & > td {
      background-color: @select-item-active-bg !important;
    }
  }
}

.buttonView {
  margin: 18px;

    button {
      margin-right: 24px;
    }
}

.textOver {
  // display: inline-block;
  .textOverflow
}
.form {
  padding: 12px 24px 0;
  background: #fff;

  button {
    margin-right: 12px;
  }

  :global {
  
   
    .ant-input-number {
      width: 136px;
    }
    .ant-calendar-picker {
      min-width: auto !important;
      width: 136px;
    }
    input {
      padding-left: 8px;
      padding-right: 8px;
    }
    input[type="text"] {
      width: 136px;
    }
  }

  .buttonView {
    margin-top: 18px;

    button {
      margin-right: 24px;
    }
  }
}