@import '../../utils/utils.less';

.tableList {
  height: 300px;
  padding: 12px 24px;
  background: #fff;

  :global {}

  .selectedRow {
    & > td {
      background-color: @select-item-active-bg !important;
    }
  }
}

.buttonView {
  margin: 18px;

    button {
      margin-right: 24px;
    }
}

.textOver {
  display: inline-block;
  .textOverflow
}