@import '../../utils/utils.less';

.wrapper {
  height: 100%;
}

.aside {
  :global {
    .ant-layout-sider-children {
      display: flex;
      align-items: center;
    }

    .ant-menu-item {
      padding-right: 24px;
    }
  }
  .menuBox {
    width: 100%;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    background-color: #fcf;
    text-align: center;
  }
}

.main {

  .headerTitle {
    background-color: transparent;
  }

  .formBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.footer {
  text-align: center;

  button {
    margin-left: 12px;
    margin-right: 12px;
  }
}