@import '../../utils/utils.less';

.wrapper {
  height: 100%;
}

.aside {
  :global {
    .ant-layout-sider-children {
      // display: flex;
      // align-items: center;
    }

    .ant-menu-item {
      padding-right: 24px;
    }
  }
  .sideMenu {
    width: 100%;
    background-color: #fcf;
    text-align: center;
  }
}

.main {
  .headerTitle {
    background-color: #fff;
  }

  .formBox {
    display: flex;
    margin: 24px;
    padding: 24px;
    background-color: #fff;

    .scrollView {
      height: 100%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        display:none
      }
    }
  }
}

.table {
  max-width: 860px;
}