@import '../utils/utils.less';

.container {
  height: 100%;
}

.header {
  display: flex;
  height: @header-height;
  padding: 0 24px;
  color: #fff;
  background-color: @primary-color;
  :global {
    .ant-btn-primary {
      box-shadow: none;
    }
  }
  .logo {
    display: flex;
    height: 64px;

    h1 {
      color: white;
      font-size: 21px;
      font-weight: bold;
      letter-spacing: 4px;
    }
  }

  .devices {
    flex: 1;
    padding: 12px;

    .wrapper {
      height: 100%;
      background-color: #ccc;
      border: 1px solid #fff;
      border-radius: 5px;
    }

    .title {
      position: relative;
      top: -108px;
      left: 24px;
    }
  }

  .actionBar {
    display: flex;
    align-items: center;
    height: 64px;
  }
}

.main {
  overflow: auto;
}

.footer {
  height: @footer-height;
  overflow: hidden;
  padding: 8px;
  text-align: center;
  background-color: #ccc;
}
