@import '../utils/utils.less';

.container {
  height: 100%;
}

.header {
  display: flex;
  height: @header-height;
  padding: 0 24px;
  color: #fff;
  background-color: @primary-color;
  :global {
    .ant-btn-primary {
      box-shadow: none;
    }
  }
  .logo {
    display: flex;
    height: 64px;
    flex-shrink: 0;
    h1 {
      color: white;
      font-size: 21px;
      font-weight: bold;
      letter-spacing: 4px;
    }
  }

  .devices {
    flex: 1;
    display: flex;
    background-color: #ccc;
    border-radius: 5px;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .actionBar {
    margin-left: 10px;
    overflow: hidden;
    display: flex;
    width: 230px;
    flex-wrap: wrap;
    align-content: center;
    justify-items: right;
  }
}

.main {
  overflow: auto;
}

.footer {
  height: @footer-height;
  overflow: hidden;
  padding: 8px;
  text-align: center;
  background-color: #ccc;
}
